.jumbotron {
    background: #000 url('http://bsnscb.com/data/out/13/39218497-avalanche-wallpapers.jpeg') center center;
/*
    position: relative;
    width: 100%;
    
    height: 100%;*/
    
    min-height: 50vh;
    background-position: center;
    background-size: cover;
    /*overflow: hidden;*/
}

.jumbotronText { 
   color: white; 
   font: bold 32px/60px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
